.#header{
    display: flexbox;
    background-color: black;
    color:green;
    width: 100px;
    height: 25px;
    align-self: start
}
.#futter{
    display:block;
    align-self: flex-end;
    background-color: brown
    width: 100em;
    height: 30em;
}