.image{
    display:block;
    border-radius: 10px;
    height: 35%;
    width:35%;
    margin-left: 45%;
}
.hader{
    display:flexbox;
    background-color:blueviolet;
    columns:2;
}
.name{
    display: inline-flexbox;
    background-color:transparent;
    width: 80%;
    height: 5%;
    margin-left: 5%;
    padding-top: 7%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.profession{
    color:darkgoldenrod;
    font-style: italic;
}
.navigasion{
    display: inline-flexbox;
    background-color: transparent;
    width:70%;
    height:5%;
    margin-left: 5%;
}
.navigasion > nav > div{
    display: inline-flex;
    margin: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.name > div{
    display:inline-flex;
    margin: 15px;
}
